.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eve-dd-cont {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border: none;
  border-radius: 9px;
  padding: 20px;
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 30px;
  font-weight: bold;
}
.para1 {
  font-size: 20px;
}
.para2 {
  font-size: 14px;
}
.button {
  height: 40px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 9px;
  cursor: pointer;
}
